@model IzdavanjeFaktura.Models.Invoice

@{
    ViewBag.Title = "Delete";
}

<div class="text-center">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <h4>Invoice</h4>
</div>

<div>
    <hr />
    <div class="text-center">
        <strong>@Html.DisplayNameFor(model => model.Number)</strong>
        <span class="badge">@Html.DisplayFor(model => model.Number)</span><br />
        <p></p>
        <strong>@Html.DisplayNameFor(model => model.DateCreated)</strong>
        <span class="badge">@Html.DisplayFor(model => model.DateCreated)</span><br />
        <p></p>
        <strong>@Html.DisplayNameFor(model => model.DueDateTime)</strong>
        <span class="badge">@Html.DisplayFor(model => model.DueDateTime)</span><br />
        <p></p>
        <strong>@Html.DisplayNameFor(model => model.NoVatPrice)</strong>
        <span class="badge">@Html.DisplayFor(model => model.NoVatPrice)</span><br />
        <p></p>
        <strong>@Html.DisplayNameFor(model => model.FullPrice)</strong>
        <span class="badge">@Html.DisplayFor(model => model.FullPrice)</span><br />
        <p></p>
        <strong>@Html.DisplayNameFor(model => model.Receiver)</strong>
        <span class="badge">@Html.DisplayFor(model => model.Receiver)</span>
        <p></p>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
